.btn_Counter{
    width:15%;
    height:10vh;
    color: blue;
}
.box-dark {
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-white {
    min-height: 100vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.tf{
    color: blue;
}
.counter{
    margin-left:30%;
    width:500%;
}
