.table-container {
  width: 80%;
  margin: 30px ;
  text-align: center;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border:1px solid white;
  padding: 12px;
}

th {
  background-color: black;
  color:white ;
}

.one {
  background-color: black;
}

.two {
  background-color: black; 
}
body{
    background-color: aquamarine;
}


td {
  font-weight: 500;
}